name: build-and-push
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'Dockerfile.api'
      - 'Dockerfile.worker'
      - 'src/**'
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    - name: Login GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build & Push API
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile.api
        push: true
        tags: ghcr.io/${{ github.repository }}/hearloveen-api:latest
    - name: Build & Push Worker
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile.worker
        push: true
        tags: ghcr.io/${{ github.repository }}/hearloveen-worker:latest
